/* auto margin is used for left and right in order to place all of the elements in the middle of the page horizontally */

body {
    background-color: gray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#results {
    color: black;
}

/* have the buttons displayed below both the results text and the scores for the player and the compouter */
/* have space around so there is room between the symbols and they aren't too far apart */
.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

/* have space between the scores so they are on opposite sides of the screen */
/* place the scores in between the symbols and the results text (vertically speaking) */
.scores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-size: 48px;
}

/* had larger text so the user can clearly see the results of each round played. had a top margin to have space between the top of the webpage */
#results {
    font-size: 64px;
    text-align: center;
    margin-top: 100px;
}

/* container to hold the restart button, below the symbols and centered horizontally */
.container {
    display: flex;
    width: 800px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
#restart {
    font-size: 32px;
    background-color: gray;
    margin-top: 75px;
    border: none;
}

/* the ::after feature allows me to input an emoji in unicode into the webpage in the div of rock, paper, and scissors in the HTML */
#rock::after {
    content: "\1FAA8";
    font-size: 100px;
}

#paper::after {
    content: "\1F4DD";
    font-size: 100px;
}

#scissors::after {
    content: "✂️";
    font-size: 100px;
}